// ==========================================================================
// ANIMATIONS
// ==========================================================================

@mixin keyframe($animation-name) {
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animate($delay, $duration, $animation, $ease) {
	animation-delay: $delay;
	animation-duration: $duration;
	animation-name: $animation;
	animation-fill-mode: forwards; // this prevents the animation from restarting!
	animation-timing-function: $ease;
}

@mixin animate-loop($delay, $duration, $animation, $ease, $count: infinite) {
	animation-delay: $delay;
	animation-duration: $duration;
	animation-name: $animation;
	animation-fill-mode: forwards; // this prevents the animation from restarting!
	animation-timing-function: $ease;
	animation-iteration-count: $count;
}

@mixin animation() {
	.supports-cssanimations & {
		@content;
	}
}
