// ==========================================================================
// CSS TRIANGLES
// ==========================================================================

@mixin triangle-border($direction, $color, $width, $height, $duration: 0) {
	@media screen {
		@if $duration > 0 {
			transition: border-color $duration, border-width $duration;
		}
		width: 0;
		height: 0;

		@if index(top left bottom right, $direction) != false {
			@if $direction == top or $direction == bottom {
				border: ($width / 2) solid transparent;
				border-#{opposite-position($direction)}: $height solid $color;
			} @else if $direction == left or $direction == right {
				border: ($height / 2) solid transparent;
				border-#{opposite-position($direction)}: $width solid $color;
			}
		} @else if index((top left) (top right) (bottom left) (bottom right), $direction) != false {
			border: $width solid transparent;

			@each $border in $direction {
				border-#{$border}-color: $color;
			}
		}
	}
}

@mixin triangle-position($direction, $width, $height) {
	@if $direction == top or $direction == bottom {
		#{$direction}: ($height * -2);
	} @else if $direction == left or $direction == right {
		#{$direction}: ($width * -2);
	} @else if index((top left) (top right) (bottom left) (bottom right), $direction) != false {
		@each $position in $direction {
			#{$position}: 0;
		}
	}
}

@mixin triangle($direction, $color, $width, $height, $duration: 0) {
	@include triangle-border($direction, $color, $width, $height, $duration);
	@include triangle-position($direction, $width, $height);
}

@mixin triangle-content($direction, $color, $width, $height, $duration: 0) {
	@include triangle($direction, $color, $width, $height, $duration);
	position: absolute;
	content: "";
}
