@import "../../utils/exports";
@import "../../utils/mixins";
@import "../../utils/defaults";

// See '../../utils/defaults' for a list of available variables, these defaults will
// be overridden by users of the library.

// Your styles go here

.select-input {
	display: flex;

	select {
		@include rhythm-input();

		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cstyle%20fill%3D%22%23000000%22%3E.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%7D%3C%2Fstyle%3E%3Ctitle%20fill%3D%22%23000000%22%3Eec-collapsed.colors-black-primary%3C%2Ftitle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M15%207.7l-.7-.7-4.3%204.5L5.7%207l-.7.7%204.3%204.6.7.7.7-.7z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
		background-repeat: no-repeat;

		background-position: right 8px center;
		padding-right: 30px;
		background-size: 20px 20px;

		&::-ms-expand {
			display: none;
		}
	}
}

.select-input__pre,
.select-input__post {
	flex-shrink: 0;

	background-color: $formfield-addon-background;
	border: 1px solid $formfield-border-color;
	padding: 0 10px;
	text-align: center;
	line-height: $formfield-line-height;
}

.select-input__pre {
	border-right: none;
}

.select-input__post {
	border-left: none;
}

.select-input--error {
	select {
		background-color: $formfield-error-background;
		border-color: $formfield-error-border-color;
	}
}

.select-input--warning {
	select {
		background-color: $formfield-warning-background;
		border-color: $formfield-warning-border-color;
	}
}

.select-input--info {
	select {
		background-color: $formfield-info-background;
		border-color: $formfield-info-border-color;
	}
}

.select-input--success {
	select {
		background-color: $formfield-success-background;
		border-color: $formfield-success-border-color;
	}
}
