@import "../../utils/exports";
@import "../../utils/defaults";


@mixin error-message-display($color, $background) {
	display: inline-block;
	color: $color;
	background-color: $background;
	font-weight: bold;
	font-style: normal;
	padding: 10px 15px;
	position: relative;
	font-size: $formfield-status-message-font-size;
	border-radius: $formfield-border-radius;

	&::before {
		content: '';

		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px;
		border-color: transparent transparent $background transparent;

		position: absolute;
		left: 15px;
		top: -20px;
	}
}

// See '../../utils/defaults' for a list of available variables, these defaults will
// be overridden by users of the library.
.status-msg {
	display: block;
	clear: both;
	padding-top: 20px;
	padding-bottom: 5px;
	max-width: 450px;
}

.status-msg,
.status-msg--error {
	.status-msg__message {
		@include error-message-display($formfield-error-message-color, $formfield-error-message-background);
	}
}

.status-msg--warning {
	.status-msg__message {
		@include error-message-display($formfield-warning-message-color, $formfield-warning-message-background);
	}
}

.status-msg--info {
	.status-msg__message {
		@include error-message-display($formfield-info-message-color, $formfield-info-message-background);
	}
}

.status-msg--success {
	.status-msg__message {
		@include error-message-display($formfield-success-message-color, $formfield-success-message-background);
	}
}
