// ==========================================================================
// ANIMATIONS - GLOBAL DEFINITIONS
// ==========================================================================

@include keyframe(fadeFromRight20) {
	0% {
		transform: translate3d(20px, 0, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@include keyframe(fadeFromRight100) {
	0% {
		transform: translate3d(100px, 0, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@include keyframe(fadeFromLeft30) {
	0% {
		transform: translate3d(-30px, 0, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@include keyframe(flipDown90) {
	// 90 refers to furthest angle away from 0
	0% {
		transform: rotateX(90deg);
		transform-origin: 50%, 0;
		opacity: 1;
	}

	40% {
		transform: rotateX(-50deg);
		transform-origin: 50%, 0;
	}

	70% {
		transform: rotateX(20deg);
		transform-origin: 50%, 0;
	}

	100% {
		transform: rotateX(0deg);
		transform-origin: 50%, 0;
		opacity: 1;
	}
}
