.text-area-with-counter {

	.textarea-input {
		position: relative;
	}

	textarea {
		padding-right: 50px;
	}

	.character-counter {
		position: absolute;
		bottom: 10px;
		right: 20px;
	}
}

.width-xl ~ .character-counter {
	left: $formfield-width-xl - 50px;
}
.width-l ~ .character-counter {
	left: $formfield-width-l - 50px;
}
.width-m ~ .character-counter {
	left: $formfield-width-m - 50px;
}
.width-s ~ .character-counter {
	left: $formfield-width-s - 50px;
}
.width-xs ~ .character-counter {
	left: $formfield-width-xs - 50px;
}
.width-xxs ~ .character-counter {
	left: $formfield-width-xxs - 50px;
}
