@import "../../utils/exports";
@import "../../utils/defaults";

// See '../../utils/defaults' for a list of available variables, these defaults will
// be overridden by users of the library.

.form-summary {
	outline: none;
	margin: 40px 0; // TODO: Check this
	position: relative;
	padding: 20px 30px;
	border-top: 5px solid $form-summary-default-highlight-color;
	background-color: $form-summary-background-color;

	.form-summary-title {
		background-color: $form-summary-default-highlight-color;
		margin: -20px -30px 20px -30px;
		padding: 15px 30px 20px;
		font-weight: 700;
		font-size: 16px;
		color: $form-summary-default-text-color;
	}

	ul {
		padding-left: 25px;
	}

	a,
	.form-summary-title {
		color: $form-summary-text-color;
	}

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	&.is-error {
		border-color: $form-summary-error-highlight-color;

		.form-summary-title {
			background-color: $form-summary-error-highlight-color;
			color: $form-summary-error-text-color;
		}
	}

	&.is-warning {
		border-color: $form-summary-warning-highlight-color;

		.form-summary-title {
			background-color: $form-summary-warning-highlight-color;
			color: $form-summary-warning-text-color;
		}
	}

	&.is-info {
		border-color: $form-summary-info-highlight-color;

		.form-summary-title {
			background-color: $form-summary-info-highlight-color;
			color: $form-summary-info-text-color;
		}
	}

	&.is-success {
		border-color: $form-summary-success-highlight-color;

		.form-summary-title {
			background-color: $form-summary-success-highlight-color;
			color: $form-summary-success-text-color;
		}
	}
}
