
rui-button[type="primary"] {
	--rui-button__color: var(--global-white-color, #FFF);
	--rui-button__border: none;
	--rui-button__background-color: var(--global-primary-color, #8BC34A);
	--rui-button__background-color-hover: var(--global-primary-shade-4, #558B2F);
	--rui-button__background-color-active: var(--global-primary-shade-4, #558B2F);
	--rui-button__background-color-focus: var(--global-primary-shade-4, #558B2F);
}

rui-button[type="secondary"] {
	--rui-button__color: var(--rui-button__-global-white-color, #FFF);
	--rui-button__border: none;
	--rui-button__background-color: var(--global-secondary-color, #03A9F4);
	--rui-button__background-color-hover: var(--global-secondary-shade-4, #0277BD);
	--rui-button__background-color-active: var(--global-secondary-shade-4, #0277BD);
	--rui-button__background-color-focus: var(--global-secondary-shade-4, #0277BD);
}

rui-button[type="tertiary"] {
	--rui-button__color: var(--rui-button__-global-white-color, #FFF);
	--rui-button__background-color: var(--global-tertiary-color, #F44336);
	--rui-button__background-color-hover: var(--global-tertiary-shade-4, #B71C1C);
	--rui-button__background-color-active: var(--global-tertiary-shade-4, #B71C1C);
	--rui-button__background-color-focus: var(--global-tertiary-shade-4, #B71C1C);
}

rui-button[variant="outline"] {
	--rui-button__background-color: transparent;
	--rui-button__border-active: var(--rui-button__border);
	--rui-button__border-focus: var(--rui-button__border);
	--rui-button__border-hover: var(--rui-button__border);
	--rui-button__border: 1px solid var(--rui-button__border-color);
	--rui-button__color: var(--global-gray-color-3, #595457);
}

rui-button[variant="ghost"] {
	--rui-button__background-color-active: var(--global-gray-color-3, #595457);
	--rui-button__background-color-focus: var(--global-gray-color-3, #595457);
	--rui-button__background-color-hover: var(--global-gray-color-3, #595457);
	--rui-button__background-color: transparent;
	--rui-button__border-active: none;
	--rui-button__border-focus: none;
	--rui-button__border-hover: none;
	--rui-button__border: none;
	--rui-button__color: var(--global-gray-color-3, #595457);
}

rui-button[size="small"] {
	--rui-button__padding: 8px 15px;
	--rui-button__font-size: 0.9rem;
}

rui-button[size="large"] {
	--rui-button__padding: 22px 38px;
	--rui-button__font-size: 1.1rem;
}

rui-button {
	--rui-button__color-disabled: var(--global-gray-color-2, #CCC);
	--rui-button__background-color-disabled: var(--global-gray-color-1, #DDD);
	--rui-button__border-disabled: none;
	--rui-button__cursor-disabled: not-allowed;
	--rui-button__transform-disabled: none;
}

rui-button rui-icon {
	--rui-icon__width: 12px;
	--rui-icon__height: 12px;
	--rui-icon__color: #FFFFFF;
}

.custom-button-icon {
	--rui-button__padding: 15px 25px 15px 47px;
	position: relative;
}

.custom-button-icon rui-icon {
	margin: 0;
	position: absolute;
	left: 25px;

	--rui-icon__width: 12px;
	--rui-icon__height: 12px;
	--rui-icon__color: #555;
	transition: all 250ms ease;
}

.custom-button-icon:hover rui-icon {
	--rui-icon__color: #FFF;
	animation-name: bounce;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	100% {
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-webkit-transform: translateX(0);
	}

	50% {
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-webkit-transform: translateX(-5px);
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-5px);
	}
}
