@import "../../utils/exports";
@import "../../utils/defaults";

.ctrl-label {
	font-size: $formlabel-font-size;
	line-height: $formlabel-line-height;
	display: block;
	font-weight: $formlabel-font-weight;
	margin: $formlabel-margin;
	text-align: left;
	color: $formlabel-color;
	clear: both;
}

.ctrl-label__help {
	color: $helptext-color;
	font-size: $helptext-font-size;
	font-weight: $helptext-font-weight;
	line-height: $helptext-line-height;
	display: block;
	font-style: $helptext-font-style;

	top: -5px;
	position: relative;
}
