rui-button rui-icon {
	margin-left: 15px;

	--rui-icon__display: inline-block;
	--rui-icon__width: 12px;
	--rui-icon__height: 12px;
	--rui-icon__color: #FFFFFF;
}

.rui-btn-icon-left {
	--rui-button__padding: 15px 25px 15px 47px;
	position: relative;
}

.rui-btn-icon-left rui-icon {
	margin: 0;
	position: absolute;
	left: 25px;

	--rui-icon__width: 12px;
	--rui-icon__height: 12px;
	--rui-icon__color: #555;
	transition: all 250ms ease;
}

.rui-btn-icon-left:hover rui-icon {
	--rui-icon__color: #FFF;
	animation-name: bounce;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	100% {
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-webkit-transform: translateX(0);
	}

	50% {
		/* stylelint-disable-next-line property-no-vendor-prefix */
		-webkit-transform: translateX(-5px);
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-5px);
	}
}
