html,
body {
	font-family: 'Poppins', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	line-height: 1.5;

	/* direction: rtl; */
}

h1 {
	text-transform: capitalize;
	font: 700 48px/1.2 "Poppins", sans-serif;
	margin-bottom: 10px;

	/* color: #802bb1; */
}

h1 + p {
	font-size: 17px;
	color: rgb(109, 109, 109);
	line-height: 1.7;
	max-width: 60em;
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 95%;
	line-height: 140%;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
	padding: 0 3px;
	font-size: 0.94em;
	word-break: break-word;
	display: inline;
	color: #D14;
	white-space: pre;
	background: rgba(255, 229, 100, 0.3);
}

a,
a:active,
a:visited {
	color: #673AB7;
}

a:hover {
	color: #512DA8;
}

rui-breadcrumbs a,
a:visited,
a:hover {
	color: #0074DD;
}

.chevron-right {
	display: inline;
	position: relative;
	padding: 0 6px;
}

.chevron-right:before {
	position: absolute;
	top: 1px;
	right: 3px;
	width: 100%;
	height: 100%;
	content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='icon-/-16-/-chev-right' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M11.50025,10.50025 C11.37225,10.50025 11.24425,10.45125 11.14625,10.35425 L8.00025,7.20725 L4.85425,10.35425 C4.65825,10.54925 4.34225,10.54925 4.14625,10.35425 C3.95125,10.15825 3.95125,9.84225 4.14625,9.64625 L7.64625,6.14625 C7.84225,5.95125 8.15825,5.95125 8.35425,6.14625 L11.85425,9.64625 C12.04925,9.84225 12.04925,10.15825 11.85425,10.35425 C11.75625,10.45125 11.62825,10.50025 11.50025,10.50025' id='Icon' fill='%23000000' fill-rule='nonzero' transform='translate(8.000250, 8.250250) rotate(-270.000000) translate(-8.000250, -8.250250) '%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
